<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="APIEndpoint" value="iliveit_api_endpoint_for_your_country"/>
      <add key="APIAccessToken" value="your_access_token"/>
    </appSettings>
</configuration>